<!-- html
    head
        title testSocket
        script(src="/socket.io/socket.io.js")
    body
        h1= message
        h1= userAuth._id
        p= token
        ul(id='events')
        button(type='button' onclick='place_bet("'+ 3 +'")' ) PressMe
        button(type='button' onclick="stopGame()") Stop Game
        script.
            //- const userId = userAuth ? userAuth._id : ''
            //- const userName = userAuth ? userAuth.username : ''
            //- const jwt_token =  token ? token : '';
            //- console.log(userId, userName, jwt_token)
            const userAuth = "#{JSON.stringify(userAuth)}"
            const {_id} = userAuth
            const token = "#{token}"
            console.log(userAuth)
            const ConnectSocket = (game, namespace) => {
                game(
                {
                    userId,
                    userName,
                },
                jwt_token
                ).connect(
                io(namespace, {
                    query: "token=" + jwt_token,
                })
                );
            };
            const ul = document.getElementById("events")

            const addToList = what => {
                const li = document.createElement("li")
                li.appendChild(document.createTextNode(what))
                ul.appendChild(li)
            }


            function place_bet(number){
                console.log(socket)
                socket.emit("place_bet", {amount: 3, prediction: 0}, function(arg){
                    console.log(arg)
                })
            }

            function stopGame(){
                socket.emit("stop-game")
            }

            const socket = io('/game-bet');
            socket.on('connect', () => addToList(`create socket with id: ${socket.id}`));
            socket.on('connected', () => addToList("user join room"))
            socket.on('game_status', res => addToList(`game status: ${JSON.stringify(res)}`))
            socket.on('top-histories', histories => addToList(`top history: ${JSON.stringify(histories)}`))
            socket.on('disconnect', () => addToList("user out room"))
            socket.on('betted', ({amount, prediction}) => addToList(`User bet ${amount} on ${prediction}`))
            socket.on("tick", (tick, state) => addToList(`${tick} ${state}`))
            socket.on('game-stopped', () => addToList('Game stopped'))
            socket.on('game-result', ({winners, losers}) => addToList(`Winners: ${JSON.stringify(winners)}, Losers: ${JSON.stringify(losers)}`)) -->

<html>
    <body>
        <head>
            <script src="/socket.io/socket.io.js"></script>
        </head>
        <body>
            <ul id="events"></ul>
            <button type="button" onclick="place_bet(3)">Press Me</button>
            <button type="button" onclick="stopGame()">Stop Game</button>

            <script>
                const userId = "<%= userAuth ? userAuth._id : '' %>"
                const userName = "<%= userAuth ? userAuth.username : '' %>"
                const token = "<%= token %>"
                const ConnectSocket = (game, namespace) => {
                    game(
                        {
                            userId,
                            userName,
                        },
                        jwt_token
                    ).connect(
                        io(namespace, {
                            query: "token=" + jwt_token,
                        })
                    )
                }
                const ul = document.getElementById("events")

                const addToList = what => {
                    const li = document.createElement("li")
                    li.appendChild(document.createTextNode(what))
                    ul.appendChild(li)
                }

                function place_bet(number) {
                    console.log(socket)
                    socket.emit(
                        "place_bet",
                        { amount: 3, prediction: 0 },
                        function (arg) {
                            console.log(arg)
                        }
                    )
                }

                function stopGame() {
                    socket.emit("stop-game")
                }

                const socket = io("/game-bet", {
                    query: "token=" + token,
                })
                socket.on("connect", () =>
                    addToList(`create socket with id: ${socket.id}`)
                )
                socket.on("connected", () => addToList("user join room"))
                socket.on("game_status", res =>
                    addToList(`game status: ${JSON.stringify(res)}`)
                )
                socket.on("top-histories", histories =>
                    addToList(`top history: ${JSON.stringify(histories)}`)
                )
                socket.on("disconnect", () => addToList("user out room"))
                socket.on("betted", ({ amount, prediction }) =>
                    addToList(`User bet ${amount} on ${prediction}`)
                )
                socket.on("tick", (tick, state) =>
                    addToList(`${tick} ${state}`)
                )
                socket.on("game-stopped", () => addToList("Game stopped"))
                socket.on("game-result", ({ winners, losers }) =>
                    addToList(
                        `Winners: ${JSON.stringify(
                            winners
                        )}, Losers: ${JSON.stringify(losers)}`
                    )
                )
            </script>
        </body>
    </body>
</html>
