<p>Login Form</p>
<form action="/login" method="POST">
    <input placeholder="email" type="text" name="email" value="" />
    <input placeholder="password" type="password" name="password" value="" />
    <input type="submit" value="submit" />
</form>
